
/* mobile*/

@media screen and (max-width: 420px) {
    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        width: 100%;        
    }


    #lezioni .row>.right {
        margin-top: 20px;
    }

   
    #lezioni {
        background-color: #f2f2cd;

    }

    .row {
        width: 100%;
        margin-top: 10px;
    }


    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        float: none;
        width: 100%;
        background-color: white;
        margin-top: 20px;
    }

    #steps {
        background-color: white;
    }

    #why {
        background-color: #f2f2cd;
    }

    img {
        height: 100px;
    }

    #why .row>.first, #why .row>.second, #why .row>.third {
        margin-top: 20px;
    }
}






